/* * {
  border-top: solid 10px violet;
} */

/*  *{}  this is the universal symbol which can be applied to everything. also it has the least priority */

body {
  border-top: 10px #1098ad solid;
  font-family: sans-serif;
  color: #444;
}
/*
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}*/
h1 {
  font-style: italic;
  font-size: 26px;
  text-transform: uppercase;
}
h2 {
  font-size: 40px;
}
h3 {
  font-family: sans-serif;
  font-size: 30px;
}
h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}
p {
  line-height: 1.5;

  font-size: 22px;
}
li {
  font-size: 20px;
}
/*font-family+ font-size+ font-style+font-weight+text-transform+text-align+text-decoration+color+background-color+border+border-top+border-bottom+list-style+line-height*/
/*
footer p {
  font-size: 16px;
}*/
/*
article header p {
  font-style: italic;
}*/
#author {
  font-style: italic;
  font-size: 16px;
}
#copyright {
  font-size: 16px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.unordered-list {
  list-style: none;
}
/*
.test {
  font-style: italic;
}*/
h1,
h2,
h3 {
  color: #1098ad;
}
.main-header {
  background-color: #f7f7f7;
}
aside {
  background-color: #f7f7f7;
  border-top: 16px solid #1098ad;
  border-bottom: 16px solid #1098ad;
}
/*
body {
  background-color: violet;
}*/
/*
ol {
  border-left: navy solid 6px;
  border-top: olive solid 6px;
  border-right: aquamarine solid 6px;
  border-bottom: yellow solid 6px;
}*/
/*
.first-li {
  font-weight: bold;
}*/
li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
/*
li:nth-child(odd) {
  color: red;
}*/
/*this won't work cause its the first child,not the last child*/
article p:first-child {
  color: red;
}

/*styling the links  LVHA*/

a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: orangered;
  text-decoration: orangered underline;
  font-weight: bold;
}
a:active {
  background-color: black;
  font-style: italic;
}
/*pseudo classes have priority over elements e.g: a:link{ color: blue;} has priority over a{ color: red;}  and the color of all anchors ( the ones that have href) will be blue, not red!)*/
/*LVHA rule is applied right here!*/

/*resolving conflicts*/

/* #copyright {
  color: red;
}
.copyright {
  color: blue;
}
.text {
  color: yellow;
}
footer p {
  color: green */
/* if we add !important to this part right here, the color of the footer will be altered to green cause !imporatnt has the 1st priority over all*/
