/* * {
  border-top: solid 10px violet;
} */

/*  *{}  this is the universal symbol which can be applied to everything. also it has the least priority */

* {
  margin: 0;
  padding: 0;
}
body {
  border-top: 10px #1098ad solid;
  font-family: sans-serif;
  color: #444;
  position: relative;
}
/*
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}*/
.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}
article {
  margin-bottom: 60px;
}
header {
  margin-bottom: 40px;
}
h1 {
  font-style: italic;
  font-size: 26px;
  text-transform: uppercase;
  padding: 20px 40px;
  /* height: 80px;*/
}
h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
h3 {
  font-family: sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  background-color: violet;
}
p {
  line-height: 1.5;

  font-size: 22px;
  margin-bottom: 15px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
  /*display: inline;*/
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
/*font-family+ font-size+ font-style+font-weight+text-transform+text-align+text-decoration+color+background-color+border+border-top+border-bottom+list-style+line-height*/
/*
footer p {
  font-size: 16px;
}*/
/*
article header p {
  font-style: italic;
}*/
#author {
  font-style: italic;
  font-size: 16px;
}
#copyright {
  font-size: 16px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.unordered-list {
  list-style: none;
}
/*
.test {
  font-style: italic;
}*/
h1,
h2,
h3 {
  color: #1098ad;
}
.main-header {
  background-color: #f7f7f7;
  /*padding-top:20px;
  padding-bottom: 20px;
  padding: right 40px;
  padding: left 40px;
  */ /////*shorthand*////
  padding: 20px 40px;
  margin-bottom: 60px;
}
aside {
  background-color: #f7f7f7;
  border-top: 16px solid #1098ad;
  border-bottom: 16px solid #1098ad;
  padding: 50px 0;
  width: 400px;
}
/*
body {
  background-color: violet;
}*/
/*
ol {
  border-left: navy solid 6px;
  border-top: olive solid 6px;
  border-right: aquamarine solid 6px;
  border-bottom: yellow solid 6px;
}*/
/*
.first-li {
  font-weight: bold;
}*/
li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
  margin: 0;
}
/*
li:nth-child(odd) {
  color: red;
}*/
/*this won't work cause its the first child,not the last child*/
article p:first-child {
  color: red;
}

/*styling the links  LVHA*/

a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: orangered;
  text-decoration: orangered underline;
  font-weight: bold;
}
a:active {
  background-color: black;
  font-style: italic;
}
.post-image {
  width: 100%;
  height: auto;
}
/*pseudo classes have priority over elements e.g: a:link{ color: blue;} has priority over a{ color: red;}  and the color of all anchors ( the ones that have href) will be blue, not red!)*/
/*LVHA rule is applied right here!*/

/*resolving conflicts*/

/* #copyright {
  color: red;
}
.copyright {
  color: blue;
}
.text {
  color: yellow;
}
footer p {
  color: green */
/* if we add !important to this part right here, the color of the footer will be altered to green cause !imporatnt has the 1st priority over all*/
nav a:link {
  /* margin: 20px;
  background-color: orangered;
  display: block;*/
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}
nav a:link:last-child {
  margin-right: 0;
}
.button1 {
  font-size: 22px;
  padding: 20px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
/*margin-top and margin=bottom will never be applied to inline boxes or inline elements linke anchors, images, emphasizeses, etc. only applied to block level boxes.*/
/*If we have display:inline it means that the context only occupies the space that it needs and wont be effected by top and bottom margins or padddings*/
/*if we have display:block it menas that the context occupies the whole width and height,width,margin-topor bottom, padding-top or bottom will also be applied to it!*/
/*If we have diplay:inline-block it means that the contexts looks line an inline context it means that it only occupies the space that it needs but the charecteristics of it, is like a block level boxes and it bottom and top paddings or margins will be applied to it.*/
/*images are inline-block boxes or elements and top and bottom margins and paddings and also width and height can be applied to them*/
