* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  border: solid black 4px;
  width: 825px;
  margin: 100px auto;
}
h1 {
  background-color: #f7f7f7;
  padding: 10px;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}
.price {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 4px;
}
.shipping {
  color: rgb(30, 30, 30);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover,
a:active {
  text-decoration: none;
}
button {
  color: white;
  background-color: black;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  text-transform: uppercase;
}
button:hover {
  color: black;
  background-color: white;
  border-top: 4px black solid;
}
.dress {
  margin-bottom: 5px;
}

.product {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin-top: 35px;
  padding-bottom: 20px;
}
ul li:first-child {
  margin-top: 10px;
}
li {
  line-height: 1;
  margin: 0 20px;
  margin-bottom: 10px;
}
ul {
  list-style: square;
}
